The Goal is to merge `merged_insurance_data.csv`, `ACS_S1901_YearZIP.csv`, `ACS_Demographics_YearZIP.csv`, and `HPI_ZIP_year_affected.csv`

In [13]:
import pandas as pd

We want our final table to contain the columns:
1. Zip Code
2. Year
3. HPI
4. HPI Annual Change (%)
5. Insurance Coverage (%) = Active Insurance/Total Population (from transposed ACS_Demographics)
6. Total Population
7. (%) Age Brackets
8. (%) White v Non-White
9. (%) Household Income Brackets

In [14]:
# Read the CSV files
hpi_data = pd.read_csv('data/HPI_ZIP_year_affected.csv')
insurance_data = pd.read_csv('data/merged_insurance_data.csv')
acs_income_data = pd.read_csv('data/ACS_S1901_YearZIP.csv')
acs_demographics_data = pd.read_csv('data/ACS_Demographics_YearZIP.csv')

In [15]:
# Pivot the income dataset to create columns for each income label
income_pivoted = acs_income_data.pivot_table(
    index=['Zip Code', 'Year'],
    columns='Label',
    values='Estimate',
    aggfunc='first'
).reset_index()

# Rename columns to reflect their meanings clearly
income_pivoted.rename(
    columns={
        'Total (Households)': 'Total (Households)',
        'Less than $10,000': 'Less than $10,000',
        '$10,000 to $14,999': '$10,000 to $14,999',
        '$15,000 to $24,999': '$15,000 to $24,999',
        '$25,000 to $34,999': '$25,000 to $34,999',
        '$35,000 to $49,999': '$35,000 to $49,999',
        '$50,000 to $74,999': '$50,000 to $74,999',
        '$75,000 to $99,999': '$75,000 to $99,999',
        '$100,000 to $149,999': '$100,000 to $149,999',
        '$150,000 to $199,999': '$150,000 to $199,999',
        '$200,000 or more': '$200,000 or more',
        'Median income (dollars)': 'Median income (dollars)',
        'Mean income (dollars)': 'Mean income (dollars)'
    },
    inplace=True
)

desired_order = [
    'Zip Code', 'Year', 'Total (Households)', 'Less than $10,000',
    '$10,000 to $14,999', '$15,000 to $24,999', '$25,000 to $34,999',
    '$35,000 to $49,999', '$50,000 to $74,999', '$75,000 to $99,999',
    '$100,000 to $149,999', '$150,000 to $199,999', '$200,000 or more',
    'Median income (dollars)', 'Mean income (dollars)'
]

# Reorder the DataFrame columns
income_pivoted = income_pivoted[desired_order]

# Display the resulting ACS Income table to the user
print(income_pivoted)

Label  Zip Code  Year  Total (Households)  Less than $10,000  \
0         94503  2017              5505.0                2.3
1         94503  2018              5442.0                2.3
2         94503  2019              5303.0                2.4
3         94503  2020              5147.0                3.8
4         94503  2021              5622.0                3.5
..          ...   ...                 ...                ...
437       95987  2018              1803.0                2.3
438       95987  2019              1766.0                2.7
439       95987  2020              1738.0                3.8
440       95987  2021              1871.0                3.8
441       95987  2022              1878.0                2.7

Label  $10,000 to $14,999  $15,000 to $24,999  $25,000 to $34,999  \
0                     3.1                 6.8                 5.0
1                     4.3                 4.4                 5.0
2                     4.3                 4.1                 4.0
3                     3.9                 2.9                 3.9
4                     2.3                 3.0                 4.9
..                    ...                 ...                 ...
437                   4.7                14.9                 9.4
438                   5.3                10.0                10.0
439                   4.0                 8.3                 9.3
440                   5.3                10.0                 8.2
441                   2.0                 7.9                 8.0

Label  $35,000 to $49,999  $50,000 to $74,999  $75,000 to $99,999  \
0                    11.1                13.6                12.6
1                    10.3                14.8                10.1
2                     8.8                14.1                10.5
3                     7.0                12.8                 9.5
4                     4.9                12.2                10.6
..                    ...                 ...                 ...
437                  12.3                17.9                16.2
438                  12.6                17.0                17.4
439                  10.5                15.1                15.4
440                   8.4                12.9                17.5
441                  10.8                10.8                21.6

Label  $100,000 to $149,999  $150,000 to $199,999  $200,000 or more  \
0                      20.3                  12.0              13.2
1                      20.1                  13.4              15.4
2                      19.6                  14.8              17.3
3                      22.3                  16.9              17.0
4                      21.6                  15.9              21.1
..                      ...                   ...               ...
437                    11.1                   6.4               4.9
438                    17.4                   4.9               2.7
439                    19.7                   5.9               8.0
440                    17.4                   6.1              10.4
441                    12.8                  13.5               9.8

Label  Median income (dollars)  Mean income (dollars)
0                      91802.0               113564.0
1                      98247.0               119500.0
2                     101865.0               127720.0
3                     108638.0               129990.0
4                     118143.0               140488.0
..                         ...                    ...
437                    60774.0               103366.0
438                    66095.0                79930.0
439                    72500.0                90741.0
440                    77545.0                95300.0
441                    82935.0               105346.0

[442 rows x 15 columns]

In [16]:
demographics_order = [
    'Total population',
    'Male',
    'Female',
    'Under 5 years',
    '5 to 9 years',
    '10 to 14 years',
    '15 to 19 years',
    '20 to 24 years',
    '25 to 34 years',
    '35 to 44 years',
    '45 to 54 years',
    '55 to 59 years',
    '60 to 64 years',
    '65 to 74 years',
    '75 to 84 years',
    '85 years and over',
    'Median age (years)'
]

# Pivot the demographics data to directly use the Percent values
demographics_pivoted_direct = acs_demographics_data.pivot_table(
    index=['Zip Code', 'Year'],
    columns='Label',
    values='Percent',
    aggfunc='first'
).reset_index()

# Reorder columns based on the specified order
existing_columns_direct = ['Zip Code', 'Year'] + [
    col for col in demographics_order if col in demographics_pivoted_direct.columns
]
demographics_pivoted_direct = demographics_pivoted_direct[existing_columns_direct]

print(demographics_pivoted_direct)

Label  Zip Code  Year  Total population  Male  Female  Under 5 years  \
0         94503  2017           20371.0  49.6    50.4            6.6
1         94503  2018           20306.0  49.7    50.3            6.4
2         94503  2019           20276.0  49.8    50.2            5.7
3         94503  2020           20295.0  48.9    51.1            5.7
4         94503  2021           21874.0  49.4    50.6            4.8
..          ...   ...               ...   ...     ...            ...
437       95987  2018            6119.0  50.3    49.7            6.6
438       95987  2019            5950.0  48.4    51.6            8.4
439       95987  2020            6040.0  49.3    50.7            9.9
440       95987  2021            6370.0  51.5    48.5            9.1
441       95987  2022            6504.0  49.5    50.5            9.1

Label  5 to 9 years  10 to 14 years  15 to 19 years  20 to 24 years  \
0               6.8             8.3             7.2             7.4
1               6.0             8.9             7.4             7.5
2               6.2             8.5             7.7             7.5
3               6.3             8.7             7.5             8.0
4               5.9             8.9             8.0             8.0
..              ...             ...             ...             ...
437             7.2             8.8             8.5             5.8
438             8.7             8.7             7.9             5.3
439             8.7             8.9             8.6             6.1
440             9.2             8.2             8.6             5.7
441             7.7             7.0             8.3             7.5

Label  25 to 34 years  35 to 44 years  45 to 54 years  55 to 59 years  \
0                11.8            14.8            14.4             6.9
1                10.9            14.6            15.2             6.3
2                11.4            13.7            15.1             6.8
3                11.6            12.9            15.2             6.5
4                12.1            12.7            15.3             6.4
..                ...             ...             ...             ...
437              12.9            13.9            12.4             5.9
438              16.2            12.5            11.2             4.1
439              15.8            12.7            10.5             3.4
440              14.6            14.6            11.4             3.0
441              14.7            13.9            11.6             5.0

Label  60 to 64 years  65 to 74 years  75 to 84 years  85 years and over  \
0                 5.6             6.0             3.1                1.1
1                 5.3             6.7             3.9                1.0
2                 5.4             6.8             4.3                1.1
3                 5.8             6.7             3.8                1.3
4                 5.8             7.5             3.4                1.2
..                ...             ...             ...                ...
437               6.8             6.6             2.5                1.9
438               6.0             6.4             2.7                2.0
439               4.3             6.1             1.8                3.2
440               3.9             6.0             2.3                3.7
441               3.5             6.0             2.1                3.6

Label  Median age (years)
0                     NaN
1                     0.0
2                     NaN
3                     NaN
4                     NaN
..                    ...
437                   0.0
438                   NaN
439                   NaN
440                   NaN
441                   NaN

[442 rows x 19 columns]

In [17]:
#to csv
income_pivoted.to_csv('data/ACS_Income_Pivoted.csv', index=False)
demographics_pivoted_direct.to_csv('data/ACS_Demographics_Pivoted.csv', index=False)

In [20]:
# Merge the dataframes on 'Zip Code' and 'Year'
merged_data = hpi_data.merge(insurance_data, left_on=['Zip Code', 'Year'], right_on=['ZIP Code', 'Year'], how='left')
merged_data = merged_data.merge(demographics_pivoted_direct, on=['Zip Code', 'Year'], how='left')
merged_data = merged_data.merge(income_pivoted, on=['Zip Code', 'Year'], how='left')

# Select the required columns
final_columns = [
    'Zip Code', 'Year', 'HPI with 2000 base', 'Annual Change (%)', 'Active', 'Renewed', 'Total population', 'Male', 'Female', 'Under 5 years',
    '5 to 9 years', '10 to 14 years', '15 to 19 years', '20 to 24 years', '25 to 34 years', '35 to 44 years',
    '45 to 54 years', '55 to 59 years', '60 to 64 years', '65 to 74 years', '75 to 84 years', '85 years and over',
    'Total (Households)', 'Less than $10,000', '$10,000 to $14,999', '$15,000 to $24,999',
    '$25,000 to $34,999', '$35,000 to $49,999', '$50,000 to $74,999', '$75,000 to $99,999', '$100,000 to $149,999',
    '$150,000 to $199,999', '$200,000 or more', 'Median income (dollars)', 'Mean income (dollars)'
]

final_data = merged_data[final_columns]

# Save the final dataframe to a CSV file
final_data.to_csv('data/final_merged_data.csv', index=False)